{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{% static 'forecast/css/style.css' %}">
</head>
<body>
    <h1>  Weather Forecast</h1>
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Get Forecast</button>
    </form>
    
    
    {% for continent, cities in continents_data.items %}   
        <div class="card">   
           <h3> {{continent}}</h3> 
        </div>
    {% endfor %}
    
    {% if error %}
        <p style="color:red;">{{error}}</p>
    {% endif %}
    {% if weather_data %}
    <h2>Weather Forecast for {{weather_data.location.name}},{{weather_data.location.region}} {{weather_data.location.country}}</h2>
        <div class="weather-cards"> 
            {% for day in weather_data.forecast.forecastday %}
                <div class="card">
                    <p><strong>Date: </strong>{{day.date}}</p>
                    <p><strong>Description: </strong>{{day.day.condition.text}}</p>
                    <p><strong>Temperature: </strong>{{day.day.mintemp_c}}°C - {{day.day.maxtemp_c}}°C</p>
                    
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
</body>
</html>